@charset "ISO-8859-1";
html,body{
    background-color: #98E4FF;
}

input#nombre{
    position: absolute;
    left: 50px;
    top: 30px;
}
input#pass{
    position: absolute;
    left: 50px;
    top: 90px;
}
div#lateral{
    position: absolute;
    left: 750px;
    top: 200px;
    width:400px;
}
input#enviar{
    position: relative;
    left: 50px;
    top: 90px;
}
div#Adoptar{
    position: relative;
    left: 50px;
    top: 0px;
    width: 600px; 
}
i#iconopersona{
    position: absolute;
    left: 20px;
    top: 30px;
    font-size: 29px;
    height: 30px;
    border-radius: 5px;
}
footer{
    background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  color: white;
    }